body{
    background-size: 100%;

}
.heading{
    width: 100%;
    margin: 0px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;

}
.Note{
    font-size: 16px;
    color: navy;
    word-spacing: 1px;
}

.div_speed{
    float: left;

}

.div_speed_img, .div_volume_img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

#speed, #volume{
    font-size: 20px;
    margin: 10px;
}

.div_volume{
    float: right;
}

.play_button  {
    font-size: 25px;
    width: 10%;
}
    
canvas{
    border: 2px solid lime;
     border-radius: 20px;
     box-shadow: 10px 10px 38px lime;
}